/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1d0eea;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

a {
    color: hwb(117 2% 5%);
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ed111160;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.product button {
    background-color: #f75206;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
